<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>


    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td>
          <% if post.avatar? %>
            <%= image_tag post.avatar.url(:thumb) %>
          <% end %>
        </td>

        <% if user_signed_in? %>
          <td><%= link_to 'Show', post %></td>
          <% if can? :manage, @post %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>

  </tbody>
</table>

<%= will_paginate @posts %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

