<p id="notice"><%= notice %></p>

<div class="col-md-6 col-lg-6">
	<p>
	  <strong>Title:</strong>
	  <%= @post.title %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @post.description %>
	</p>	
</div>

<div class="col-md-6 col-lg-6">
	<% if @post.avatar? %>
		<%= image_tag @post.avatar.url %>
	<% end %>
</div>

<% if can? :manage, @post %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
